.pod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: -70px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.heading{
    font-size: 3rem;
    font-weight: 600;
    color: yellowgreen;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
}

.card2{
    width: 50vw;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #fff;
    background-color:  #333333;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 40px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

.card-content{
    text-transform: capitalize;
}

.problem-name{
    font-size: 2rem;
    margin-bottom: 8px;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: orange;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
}

.btn:hover{
    background-color: #ffb224;
}

.heading2{
    font-size: 3rem;
    font-weight: 600;
    color: yellowgreen;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width:920px) {
    .card2{
        min-width: 70vw;
        height: 100px;
    }
  }

  @media screen and (max-width: 680px){
    .problem-name{
        font-size: 1.5rem;
    }
    
  }

  @media screen and (max-width: 570px){
    .card2{
        width: 80vw;
        height: 150px;
        margin-bottom: 20px;
    }
    .problem-name{
        font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 450px){
    .heading , .heading2{
        font-size: 2rem;
    }
  }

  @media screen and (max-width: 380px){
    .problem-name{
        font-size: 1.2rem;
    }
    .btn{
        width: 80px;
        font-size: 1.5rem;
    }
  }